
project_id = "uwrmtukgjnsjxcojqmic"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324

[auth]
enabled = true
uri = "http://localhost:54321/auth/v1"

[storage]
enabled = true

[realtime]
enabled = true

[functions]
[functions.process-document-analysis]
verify_jwt = true
