
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rich Text Editor Styles */
.ProseMirror:focus {
  outline: none;
}

.ProseMirror p {
  margin-bottom: 1em;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 1em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 2em;
  margin-bottom: 1em;
}

.ProseMirror blockquote {
  border-left: 3px solid #ddd;
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

.ProseMirror a {
  color: #4285f4;
  text-decoration: underline;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}
